.toolbar{
	display: flex;
	height: 20%;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}
.algo{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}