// Interface colors
$toolbarColor : rgb(83,88,120);
$arrayBackgroundColor : rgb(228,255,254);



// Bars colors
$defaultColor : rgb(250,147,151); 
$comparingColor1 : rgb(255,207,167); 
$comparingColor2 : rgb(253,255,186); 
$inPlaceColor : rgb(192,255,194); 
$sortedColor : rgb(138,174,146); 


